.admin-usuarios {
  max-width: 400px;
  margin: 40px auto;
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input, select, button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #0078ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
